<div class="jumbotron">
    <h1>WS Emisión</h1>
    <p class="lead">Aplicación Web de utilerías para el área de Emisión.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Coaseguro</h2>
        <p>Consulta y generación de reportes sobre pólizas en Coaseguro.</p>
        <a href="@Url.Action("Index", "Coaseguro")" class="btn btn-success">
            <span class="fas fa-people-carry"></span>
            Coaseguro
        </a>
    </div>
</div>
